html {
	text-align:center;
}

body {
	background-color:rgb(30, 30, 30);
	background-color:rgba(30, 30, 30, 1);
	background-image: url('img/backdrop.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	color:#FAE78B;
}

h1 {
	color: navy;
	margin-left: 20px;
}

#container {
	border: 5px solid black;
	display: inline-table;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width:85%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(59, 6, 35, 0.95); 
	background-image: url("img/background.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

.adbox {
	display: inline-block;
	text-align: center;
	padding: "0";
	padding-bottom: 10px;
	padding-top: 10px!important;
	margin: auto;
	vertical-align: middle;
}	

#nabar ul li{
    display:inline;
    font-weight:800;
    font-size:40px !important;
    padding-left:15px;
    padding-right:15px;
    vertical-align:middle;
	text-shadow:2px 2px 1px #755c17;
}

#navigation {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align:center;
    vertical-align:middle;
    font-size:25px;
    font-family:agency;
	word-spacing: 30px;
    background-color:rgb(48, 5, 28);
    background-color:rgba(48, 5, 28, 1);
    list-style-type: none;
    overflow:auto;
    padding:5px;
    margin-top:0px;
    margin-bottom:10px;
    display:block;
}

a:link{
	color: #FAE78B;
	background-color: transparent;
	text-decoration: none;
	font-size:inherit;
}
a:visited {
  color: #FAE78B;
  background-color: transparent;
  text-decoration: none;
  font-size:inherit;
}

a:hover {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  font-size:inherit;
}

a:active {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  font-size:inherit;
}

#meat {
	display: inline-grid;
	grid-template-columns: auto 300;
	grid-template-rows: auto auto;
	column-gap: <line-size>;
	row-gap: <line-size>;
	width: 100%;
	background-color: #000000;
	background: rgba(59, 6, 35, 0.95) url("img/background.png") left top repeat fixed;
}

@font-face {
  font-family: agency;
  src: url(font/agencyb.ttf);
}

#comic {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
}

#sezbox {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	margin:auto;
    text-align: left;
    vertical-align:middle;
    background-color:#FAE78B;
    background-image: url("img/bg_sez.png");
    color:#30051C;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10px;
    padding-bottom:10px;
	padding-left:5px;
    border:10px solid #3B0622;
    border-radius: 15px;
    width: 90%;
}
#sezbox a:link { color: #a2105c; }
#sezbox a:visited { color: #a2105c; }
#sezbox a:hover { color: #a2105c; }
#sezbox a:active { color: #a2105c; }

#header {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

#sider {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	padding-top:10px;
	padding-bottom:10px;
}
	